<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <!-- Custom style for this template -->

    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

</head>
    <div th:fragment="before-body-scripts">
        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </div>
</html>